@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #f5f0ee;
  --accent-color: #00254e;
  --tertiary-color: #017bb3;
  --primary-font-color: #000815;
  --secondary-font-color: #ffffff;
  --primary-font-family: "Nunito Sans";
  --secondary-font-family: "Unna";
}

.container {
  max-width: 1440px;
  padding: 0 15px;
  margin: auto;
}
.full-width {
  max-width: 100%;
}

.bg-blue {
  background: var(--accent-color);
}

.bg-pink {
  background: var(--primary-color);
}

.mini-container {
  max-width: 930px;
  margin: auto;
}

.flex-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.stylish-heading {
  font-family: "Niconne";
  font-size: 30px;
  font-weight: 400;
  color: var(--tertiary-color);
  margin-bottom: 8px;
}

.section-spacing {
  padding: 80px 15px;
}

.appointments {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  color: var(--secondary-font-color);
  font-family: var(--primary-font-family);
  font-size: 16px;
}

.appointments div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.appointments p span {
  font-weight: 700;
}

/*--------------Nav Bar-----------------*/

.search-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  width: 350px;
}

.search-bar {
  display: flex;
  background: var(--secondary-font-color);
  align-items: center;
  height: 40px;
  padding: 0 1rem;
  border-radius: 5px;
  width: 352px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.search-bar input {
  border: none;
  outline: none;
  margin-left: 1rem;
  color: var(--primary-font-color);
  font-family: var(--primary-font-family);
  font-size: 16px;
}
.search-bar input::placeholder {
  color: var(--primary-font-color);
}

.search-area {
  padding: 1rem 0;
}

.icons i {
  padding: 16px 12px;
  font-size: 20px;
}

.nav-items {
  margin: auto;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 25px;
}

.nav-links a {
  color: var(--primary-font-color);
  font-family: var(--primary-font-family);
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-links li {
  list-style: none;
}

.nav-links a:hover {
  color: var(--accent-color);
  font-weight: 600;
}

/*------------------Banner Area ----------------*/

.jewelery-bg {
  background: url("./Assets/jewelery.svg");
  padding: 32px 0;
}

.home {
  font-family: var(--primary-font-family);
  font-size: 16px;
  font-weight: 400;
}

.home span:first-child {
  opacity: 0.7;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 24px 0;
}

.heading-primary {
  font-size: 44px;
  font-family: var(--secondary-font-family);
  font-weight: 400;
  margin-bottom: 8px;
  padding-bottom: 4px;
}

.description-primary {
  font-size: 16px;
  font-family: var(--primary-font-family);
  font-weight: 400;
  text-align: center;
  width: 75%;
  margin-bottom: 16px;
}

.btn-primary {
  padding: 12px 24px;
  border-radius: 10px;
  background: var(--secondary-font-color);
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  text-transform: uppercase;
  font-family: var(--primary-font-family);
  font-size: 16px;

  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s;
}

.btn-primary:hover {
  background: var(--accent-color);
  color: var(--primary-color);
}

.btn-blue {
  background: var(--accent-color);
  color: var(--primary-color);
  transition: all 0.3s;
  margin: auto;
}

.btn-blue:hover {
  background: var(--primary-font-color);
}

.sml-btn {
  min-width: 189px;
}

/*---------------------Tutorial Section------------------*/

.tutorial-section-desc {
  padding-bottom: 72px;
}

.grid-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-content: center;
  justify-items: center;
}

.grid-box img {
  width: 100%;
}

.grid-item {
  padding: 0 15px;
}

.grid-item p {
  font-size: 22px;
  font-family: var(--secondary-font-family);
  text-align: center;
  margin: 24px 0;
}

.center {
  display: flex;
  justify-content: center;
  margin-top: 72px;
}

/*----------------Ring Converter-------------*/

.ring-converter-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.ring-form {
  display: flex;
  flex-direction: column;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.field-one {
  margin-bottom: 40px;
}
.field-two {
  margin-bottom: 24px;
  text-align: center;
  font-family: "Nunito Sans";
  font-size: 16px;
  font-weight: 400;
}
.field-three {
  margin-bottom: 32px;
}
.field-four {
  margin-bottom: 16px;
}

.form-field label {
  color: var(--primary-font-color);
  font-family: "Nunito Sans";
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 4px;
}

.form-field select {
  font-family: "Nunito Sans";
  font-size: 16px;
  font-weight: 400;
  padding: 9px 36px 9px 16px;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  outline: none;
}

.form-field select::placeholder {
  color: var(--primary-color);
}

.btn-faded-blue {
  background: #f0f3f9;
  margin-top: 24px;
  border: none;
}
.btn-faded-blue:hover {
  background: #f0f3f9;
  color: var(--accent-color);
}

.ring-result {
  padding: 40px 32px 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  height: 100%;
}

.ring-cal-padding {
  padding: 0 15px;
  flex: 1;
  height: 506px;
}

.ring-cal-p {
  font-size: 22px;
  font-family: "Nunito Sans";
  margin-bottom: 32px;
}

.ring-cal-result {
  padding: 51px 20px;
  background: var(--secondary-font-color);
  border-radius: 8px;
  font-size: 44px;
  font-family: var(--secondary-font-family);
  width: 100%;
  margin-bottom: 32px;
}

.ring-cal-btn {
  width: 100%;
}

.ring-btn-margin {
  margin-top: 48px;
}
.ring-cal-p2 {
  font-family: var(--primary-font-family);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-top: 56px;
  margin-bottom: 16px;
}

.ring-img img {
  width: 100%;
}

.ring-converter-section {
  margin-bottom: 56px;
  padding-bottom: 0px;
}

/*-------------Tabel-------------*/

.border-top {
  border-top: 1px solid #d9dbdd;
}

.chart-table {
  width: 100%;
}

.table {
  width: 100%;
  text-align: center;
  table-layout: fixed;
}

.bg-gray-100 {
  background: #fafafa;
}

thead li {
  list-style: none;
}

thead li::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #017bb3;
  display: inline-block;
  margin-right: 8px;
}

thead td {
  padding: 25px 49px;
  font-size: 18px;
  font-family: "Nunito Sans";
  font-weight: 600;
}

tbody td {
  padding: 16.16px 49px;
  font-family: "Nunito Sans";
  font-size: 16px;
  font-weight: 400;
}

.d-inline-block {
  display: inline-block;
}

.py-lg-2 {
  padding: 8px 0;
}

.pe-2 {
  padding-right: 16px;
}
.chart-table .table tr td {
  width: 20%;
  text-align: center;
  border-bottom: 0;
  vertical-align: middle;
  border-right: 1px solid #d9dbdd;
}

.chart-table .table tr td:last-child {
  border-right: none;
}

.margin-bottom {
  margin-bottom: 48px;
}

.banner-bg {
  height: 470px;
  background: url("/Assets/ring-wear.webp");
  background-position: center;
}

/*----------------FAQ SECTION-------------------*/

.faq-part {
  max-width: 960px;
  margin: auto;
  padding: 0 15px 0;
}

.faq-question span {
  font-size: 16px;
  font-family: "Nunito Sans";
  font-weight: 600;
  transition: all 1s;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.faq-answer {
  font-size: 16px;
  font-family: "Nunito Sans";
  font-weight: 400;
  padding: 16px 0 24px 0;
  opacity: 0;
  max-height: 0;
  transition: opacity 0.5s, max-height 1s ease-out;
}

.faq {
  padding-top: 24px;
  border-bottom: 1px solid #d9dbdd;
}

.faq.active .faq-question span {
  font-size: 18px;
  font-weight: 600;
}

.faq-question i {
  transition: all 1s;
}

.faq.active .faq-question i {
  transform: rotate(180deg);
}
.faq.active .faq-answer {
  max-height: 200px;
  opacity: 1;
  padding: 15px 0;
}

.faq-bn {
  background: var(--primary-color);
  border: none;
  margin-top: 24px;
}

.faq-section {
  padding-bottom: 16px;
}
